{:paths ["src"]
 :deps {
        criterium/criterium {:mvn/version "0.4.5"}
        net.cgrand/xforms {:mvn/version "0.19.5"}
        techascent/tech.ml.dataset {:mvn/version "7.017"}
        com.techascent/tmducken {:mvn/version "0.8.1-12"}
        }}
